@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-1 {
        animation-delay: 1s;
    }
    .animation-delay-2 {
        animation-delay: 2s;
    }
    .animation-delay-3 {
        animation-delay: 3s;
    }
    .animation-delay-4 {
        animation-delay: 4s;
    }
    .animation-delay-5 {
        animation-delay: 5s;
    }
    .animation-delay-6 {
        animation-delay: 6s;
    }
    .animation-delay-7 {
        animation-delay: 7s;
    }
    .animation-delay-8 {
        animation-delay: 8s;
    }
    .animation-delay-9 {
        animation-delay: 9s;
    }
    .animation-delay-10 {
        animation-delay: 10s;
    }
}